extends partials/layout.pug

block content

    article.game-help.info-block
        h2.sub-header Game Help
        p 
            | The object of the game is to guess the word. You do this by getting 
            | clues each time you guess. If you see a letter in 
            span.letter.check-0 gray
            | , it does not appear in the final solution. If you see a letter in 
            span.letter.check-1 yellow
            | , it appears in the solution, but not where you have have 
            | guessed. And if you see a letter in 
            span.letter.check-2 green
            | , you have that one in the correct position!
        p 
            | Once you have all of the letters guessed, you win! You can always 
            | give up on that word and ask for a new one. And once you win, you 
            | can ask for a new word. (You will also see a link to the definition 
            | of the solved word in case you want to learn about it!)

        p 
            | You can either use the in-game virtual keyboard to type or you can 
            | use an actual keyboard. The in-game virtual keyboard also shows 
            | you letters you have guessed already, and their result.

        p 
            | Words come from the official 
            a(href='https://scrabble.merriam.com/', target='_blank') Scrabble dictionary
            | . When you guess a word, it must be in the game's dictionary! There are 
            | currently 9,330 possible 5-letter words.

        p 
            strong Note: 
            | Some words have more than 1 of the same letter (for example, "brood")! 
            | In this case, you may get a green or yellow indicator when you use one 
            | of those letters, but there may be a duplicate! If you guess a word with 
            | two letters, you might get one green and one yellow! (A gray letter 
            em always
            |  means it does not appear at all in the solution.)

        p 
            strong
                | Why did you make this 
                a(href='https://www.powerlanguage.co.uk/wordle/') Wordle 
                | clone?
        p 
            | That's a fair question. I like the game, but I didn't like only being 
            | able to play once a day, so I made this. I'm a software engineer by 
            | trade, and I like to tinker. I also can now add in options that I like!
            | Curious how this is made? You can see all of the code on 
            a(href='https://github.com/jakerella/guessle' target='_blank' title='View this code on GitHub') GitHub!
        
        aside.actions
            input.close-help.button(type='button', value='Close')

    form.game-options.info-block
        h2.sub-header Game Options

        label(for='dark-mode')
            h3.no-break Dark Mode
            input.dark-mode(type='checkbox', id='dark-mode')
        
        
        h3 Default Opener
        p 
            | If set, every game will begin with this word 
            strong already guessed.
            br
            | (Leave blank to not use a default opener.)
        
        label(for='opener-5')
            | 5-letters: 
            input.default-opener(type='text', name='opener-5', id='opener-5', maxlength='5', pattern='^($|[a-zA-Z]{5}$)')
        label(for='opener-6')
            | 6-letters: 
            input.default-opener(type='text', name='opener-6', id='opener-6', maxlength='6', pattern='^($|[a-zA-Z]{6}$)')
        
        h3 Word Size
        p 
            | How long should the words be?
            br
            | (Note, this takes effect on the 
            em next
            |  word!)
        aside.radio-set
            label(for='word-length-5')
                input.word-length(type='radio', name='word-length', id='word-length-5', value='5')
                | 5-letters
            label(for='word-length-6')
                input.word-length(type='radio', name='word-length', id='word-length-6', value='6')
                | 6-letters

        h3 Word Depth
        p 
            | How "deep" in the word list do you want to pull words from?
            br
            | (Note, this takes effect on the 
            em next
            |  word!)
        aside.radio-set
            label(for='word-depth-easy')
                input.word-depth(type='radio', name='word-depth', id='word-depth-easy', value='1')
                | Easy
            label(for='word-depth-med')
                input.word-depth(type='radio', name='word-depth', id='word-depth-med', value='2')
                | Medium
            label(for='word-depth-hard')
                input.word-depth(type='radio', name='word-depth', id='word-depth-hard', value='3')
                | Hard
        
        h3 Duplicate Letters
        label(for='dupe-letters')
            | Include Duplicates
            input.dupe-letters(type='checkbox', id='dupe-letters')
        p 
            | This option changes the game's difficulty by including (or excluding) words with duplicate letters (like "elder").
            br
            | (Note, this takes effect on the 
            em next
            |  word!)
        
        h3 Accessibility
        label(for='accessible-markers')
            | Add non-color markers
            input.accessible-markers(type='checkbox', id='accessible-markers')
        p 
            | This option adds more accessible markers to guess letters (non-color based).
        
        aside.actions
            input.close-options.button(type='button', value='Close')

    article.game-board 
        p.guess-info.used-default-opener.hidden
            | Your default opener was used!

        section.past-guesses
            each guess in guesses
                aside.guess
                    each letter in guess
                        span(class='letter check-' + letter.check)= letter.letter
        
        if !solved
            section.guess-inputs
                aside.guess
                
                p#guess-info.guess-info.hidden
            
            section.all-letters
                aside.row.top-row
                    each letter in ['q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p']
                        span(class='letter letter-' + letter)= letter
                aside.row.middle-row
                    each letter in ['a', 's', 'd', 'f', 'g', 'h', 'j', 'k', 'l']
                        span(class='letter letter-' + letter)= letter
                aside.row.bottom-row
                    each letter in ['z', 'x', 'c', 'v', 'b', 'n', 'm', 'del']
                        span(class='letter letter-' + letter)= letter
            
            input.submit-guess(type='button', id='submit-guess', value='guess')
        
        - var hideSolution = 'hidden'
        - var hideGiveup = ''
        if solved
            - hideSolution = ''
            - hideGiveup = 'hidden'
        p(class='solution-info ' + hideSolution)
            if solved
                - var suffix = ''
                if guesses.length > 1
                    - suffix = 'es'
                | Congratulations! You solved this Guessle in 
                strong= guesses.length 
                = ' guess' + suffix + '!'
                br
                br
                | The word was 
                a(target='_blank', href='https://scrabble.merriam.com/finder/' + solution)= solution
                | .

        p.surrender-info.hidden
            | You'll get it next time!
            br
            | The word was 
            a.answer(target='_blank', href='https://scrabble.merriam.com/finder/') ???
            | .
        

        aside.actions
            a(href='#', class='give-up button ' + hideGiveup) I give up!
            a(href='/?new', class='new-word button ' + hideSolution) New Word Please!
            
        article.stats
            p
                | You have played 
                span.play-count 0
                |  games 
                br
                | and won 
                span.win-count 0
                |  of those (
                span.win-percent 0
                | %)
                br
                | with 
                span.guess-avg 0
                |  guesses on average.
            p
                | You have given up 
                span.quit-count 0
                |  times (
                span.quit-percent 0
                | %).
            
            aside.actions
                a.game-history.button(href='/history') Game History
                a.clear-history.button(href='#') Clear History

    script.
        // Feed the server options into the client-side JS
        window.serverOptions = JSON.parse( '#{options}'.replace(/&quot;/g, '"') );
    script(src='game.js')