extends partials/simple.pug

block content

    script.
        // Feed the global guess counts into the client-side JS
        const globalGuessCounts = [#{stats.guessCounts}];

    article.game-stats
        h2.sub-header Game Stats
        
        if disabled
            p
                | Global game stats are disabled.
        else
            p 
                | Below are the global game statistics for Guessle, and your own stats as well!
            
            p
                | (Global Stats collected since 
                span.start-time= stats.startTime
                | .)
            
            h3 Global Stats
            table.global-stats.stats-list
                tbody
                    tr 
                        th Games Played
                        td.games-played= stats.gamesPlayed || 0
                    tr 
                        th Games Won
                        td
                            - var winPercent = 0
                            if stats.gamesPlayed > 0
                                - winPercent = Math.round(((stats.gamesWon || 0) / stats.gamesPlayed) * 100)
                            span.games-won= stats.gamesWon || 0
                            |  (
                            span.games-won-percent= winPercent
                            | %)
                    tr 
                        th Average Guesses
                        td.guess-average
                            if stats.gamesPlayed > 0
                                = stats.guessAverage
                            else
                                | 0
                    tr 
                        th Games Given Up
                        td 
                            - var quitPercent = 0
                            if stats.gamesPlayed > 0
                                - quitPercent = Math.round(((stats.gamesQuit || 0) / stats.gamesPlayed) * 100)
                            span.games-quit= stats.gamesQuit || 0
                            |  (
                            span.games-quit-percent= quitPercent
                            | %)
                    tr
                        th Total Player Count 
                        td.player-count= (stats.players && stats.players.length) || '?'
                
            table.global-chart.stat-chart
                tbody
                    tr.tally
                        th.label %
                        td.count-1 
                        td.count-2 
                        td.count-3 
                        td.count-4 
                        td.count-5 
                        td.count-6 
                        td.count-7 
                        td.count-8 
                        td.count-9 
                        td.count-more 
                tfoot
                    tr
                        th.label Guesses
                        th 1
                        th 2
                        th 3
                        th 4
                        th 5
                        th 6
                        th 7
                        th 8
                        th 9
                        th 10+
                    

            h3 Player Stats
            table.player-stats.stats-list
                tbody
                    tr 
                        th Games Played
                        td.games-played 0
                    tr 
                        th Games Won
                        td
                            span.games-won 0
                            |  (
                            span.games-won-percent 0
                            | %)
                    tr 
                        th Average Guesses
                        td.guess-average 0
                    tr 
                        th Games Given Up
                        td 
                            span.games-quit 0
                            |  (
                            span.games-quit-percent 0
                            | %)
            
            table.player-chart.stat-chart
                tbody
                    tr.tally
                        th.label %
                        td.count-1 
                        td.count-2 
                        td.count-3 
                        td.count-4 
                        td.count-5 
                        td.count-6 
                        td.count-7 
                        td.count-8 
                        td.count-9 
                        td.count-more 
                tfoot
                    tr
                        th.label Guesses
                        th 1
                        th 2
                        th 3
                        th 4
                        th 5
                        th 6
                        th 7
                        th 8
                        th 9
                        th 10+
            
            aside.actions
                input.clear-history.button(type='button', value='Clear My History')

            script(src='stats.js')